<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Whatsapp Alarm Bot</title>
</head>

<body>
  <div></div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    socket.on("data", (data) => {
      if (data.qr) {
        document.querySelector("img").src = data.qr
      }
      // document.querySelector("p").textContent = data
    })
  </script>
</body>
<p></p>
<img src="" alt="">

</html>